p{
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: #272726;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Zapzap{
    background-color: #ffffff;
    width: 400px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

#cm{
    font-size: 45px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

#vm{
    margin-top: 20px;
    margin-bottom: 20px;

}

#mm{
    margin-top: 20px;  
}

#conv{
    margin-top: 20px;
    margin-bottom: 20px; 
}

#select{
    margin-bottom: 20px;
}

#valorfinal{
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 20px;
}